/* UTILITY */
body {
  padding-bottom: 500px;
  scroll-behavior: smooth;
}
:root {
  --main-color: #f9043d;
  --main-hover: #b4002a;
  --second-color: #383e4c;
}
* {
  font-family: 'Montserrat', sans-serif;
  color: #383e4c;
}
.f-12 {
  font-size: 12px;
}
.font-p {
  font-family: 'Source Sans Pro', sans-serif;
}
.color-primary {
  color: var(--main-color) !important;
}
.bg-primary {
  background-color: var(--main-color) !important;
}
.bg-primary:hover {
  background-color: var(--main-hover) !important;
}
.color-secondary {
  color: #383e4c !important;
}
.f-large {
  font-size: 54px;
}
/* UTILITY END */

/* NAVBAR */
.navbar {
  transition: .2s;
}
.nav-bg {
  background-color: #f3f3f3;
}
.nav-link::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  margin: 0 auto;
  background-color: var(--main-color);
  transform: scale(0);
  transition: .2s;
}
.nav-link:hover::after {
  transform: scale(1);
}
.active {
  font-weight: 700;
}
.active::after {
  transform: scale(1);
}

/* HERO */
.hero {
  background-color: #f3f3f3;
  padding-top: 50px;
}
.hero small {
  font-family: monospace;
}
.scroll {
  writing-mode: tb-rl;
}

/* TENTANG */
.tentang {
  padding-top: 80px;
}
.tentang-title::after {
  content: '';
  display: block;
  width: 15%;
  height: 2px;
  margin: 15px auto 0;
  background-color: var(--main-color);
}